# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\GO\src\github.com\teacherwyang@163.com\StudyGo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/modules.xml
/StudyGo.iml
/vcs.xml
.gitignore